{% load staticfiles %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Mi Sistemita</title>
    <meta name="description" content="Pagina completa con Flexbox"><!--Utilizamos el descriptor en meta para apoyar la busqueda de contenidos en la web-->
    <meta name="viewport" content="width=device-widtg, user-scalable=no, initial-scale=1.0,maximun-scale=1.0,minimun-scale=1.0"><!--las escalas indican un punto inicial, la escala maxima y minima-->
    
	<link rel="stylesheet" href="{% static 'css/maqueta.css' %}"> <!-- aqui llamo al archivo de css para que los cambios visuales hechos por el sean realizados-->
	{% block carrusel %}
	{% endblock %}
</head>
    <body>
        <div class="contenedor">
		<header>  <!-- de aqui en adelante es el header que tiene el logoel titulo y los botones principales de la pagina-->
			<div class="logo">
				<a href="#">
				<img src="{% static 'img/logo.png' %}" width="150" alt="">
				Mi sistemita</a>
			</div>
			
			<nav>
				<a href="{% url 'Index'%}">Inicio</a>
				<a href="{% url 'canciones'%}">Canciones</a>
				{% if not user.is_authenticated %}
				
				{% else %}
					<a href="{% url 'salir'%}">Salir</a>
				{% endif %}
			</nav>
		</header>
        <div class='prueba'>
			{% block contenido %}
			{% endblock %}
		</div>

		<div class='cancionesGuest'>
			{% block guestContent %}
			{% endblock %}
		</div>
		<footer>
			<h5>Pie</h5>
			
		</footer>
	</div>
    </body>
</html>