{% extends "base.html" %}

{% block title %}My amazing wea{% endblock %}

{% block contenido %}
	<h1>Sistema de práctica</h1>

	<table>
			<form method="POST">
				{% csrf_token %}
				<table>
					{% for field in form %}
					<tr>
						<th>{{ field.label_tag}}</th>
					</tr>
					<tr>
						<td>{{ field }}</td>
						<td>{{ field.errors }}</td>
					</tr>
					{% endfor %}
				</table>
				<br>
				<input  class="boton" type="submit" value="Subir">
			</form>
			<!-- espacios en blanco-->
			<br>
			<h5>¿No tienes cuenta? <a href="{% url 'registro'%}">Registrarse</a></h5>
			<br>
		</table>


{% endblock %}



